body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32a8a2;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 80px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search button {
    background-color: #1d7e78;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}


.content {
    display: flex;
    flex-wrap: wrap; /* Permite que os produtos se ajustem a diferentes tamanhos de tela */
    justify-content: space-between; /* Espaçamento entre os produtos */
    max-width: 800px;
    margin: 0 auto; /* Centralizar o conteúdo na página */
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.product {
    flex: 1; /* Distribui o espaço igualmente entre os produtos */
    max-width: calc(50% - 10px); /* Metade da largura disponível para cada produto, com espaçamento */
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre os produtos na vertical */
    box-sizing: border-box;
    display: flex; /* Adicionar display flex */
    flex-direction: column; /* Alinhar conteúdo em coluna */
    justify-content: space-between; /* Espaçamento entre os elementos internos */
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3,
.product p,
.details-link {
    margin-top: auto; /* Empurrar os elementos para a parte inferior do contêiner */
}

.details-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #32a8a2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Adicione um efeito de hover ao link */
.details-link:hover {
    background-color: #1d7e78;
}








