body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32a8a2;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 80px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search button {
    background-color: #1d7e78;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

/* Estilos para o conteúdo da página */
.fones {
    max-width: 800px;
    margin: 100px auto; /* Centralizar o conteúdo na página */
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    padding: 20px;
}
#titulo{
    margin-bottom: 30px;
}

/* Estilos para a imagem centralizada */
.image-container {
    display: flex;
    justify-content: flex-start; /* Alinha a imagem à esquerda */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 40px; /* Adicionar espaço entre a imagem e o parágrafo */
}

.image-container img {
    max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do seu container */
    display: block; /* Remover espaços em branco abaixo da imagem */
    margin-left: 20px; /* Ajuste essa distância para controlar o espaço da imagem para a esquerda */
}

/* Estilos para os itens da lista */
.fones ul li {
    margin-bottom: 10px; /* Adicionar espaçamento entre as características */
    text-align: left; /* Alinhar o texto à esquerda */
}

/* Estilos para o botão "Ver na Amazon" */
#myButton1 {
    background-color: #32a8a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão */
#myButton1:hover {
    background-color: #2b908a; /* Uma tonalidade ligeiramente mais escura para o efeito de hover */
}

#myButton2 {
    background-color: #32a8a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão */
#myButton2:hover {
    background-color: #2b908a; /* Uma tonalidade ligeiramente mais escura para o efeito de hover */
}
#myButton3 {
    background-color: #32a8a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão */
#myButton3:hover {
    background-color: #2b908a; /* Uma tonalidade ligeiramente mais escura para o efeito de hover */
}

#myButton4 {
    background-color: #32a8a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão */
#myButton4:hover {
    background-color: #2b908a; /* Uma tonalidade ligeiramente mais escura para o efeito de hover */
}


#myButton5 {
    background-color: #32a8a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para o botão */
#myButton5:hover {
    background-color: #2b908a; /* Uma tonalidade ligeiramente mais escura para o efeito de hover */
}

/* Estilos para o rodapé */
.footer {
    text-align: center;
    background-color: #f9f9f9; /* cor de fundo */
    padding: 10px; /* espaçamento interno */
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}
